In [8]:
import pandas
import numpy as np
import re

In [2]:
target_data_file = 'Weighted_Matched_Armadale-1.xlsx'

In [3]:
def get_target_datafile(target_data_file):
    data= pandas.read_excel(target_data_file,header=0)
    data = pandas.DataFrame(data)
    return data

In [54]:
data = get_target_datafile(target_data_file)
data['formatted_address']
matched = re.search(r'(?=,).*(?=WA 6112)','1 Carradine Rd, Mount Nasura WA 6112, Australia' )
matched = re.search(r'(?=,).*(?=WA 6112)',data['formatted_address'][0] )
matched.group(0)

', Mount Nasura '

In [68]:
LGA = []
for i in data.index:
    #print(re.search(r'(?=,).*(?=WA)',data['formatted_address'][i] ).group(0))
    a =data['formatted_address'][i].split('WA')[0]
    a = a.split(',')[-1].strip()
    LGA.append(a)

In [74]:
LGA = pandas.Series(LGA)
data['LGA']= LGA
data['LGA'][100:130]

100         Armadale
101     Piara Waters
102             Como
103          Hocking
104    United States
105     Mount Lawley
106       Girrawheen
107     Piara Waters
108           Morley
109          Kewdale
110     Mount Nasura
111     Mount Lawley
112         Armadale
113           Yokine
114          Belmont
115     Mount Lawley
116     Mount Lawley
117         Gosnells
118     Piara Waters
119     Mount Lawley
120      Huntingdale
121       Bedfordale
122     Mount Lawley
123     Mount Lawley
124           Yokine
125       Harrisdale
126     Piara Waters
127         Gosnells
128         Gosnells
129     Piara Waters
Name: LGA, dtype: object