In [22]:
import pandas
google_api = pandas.read_excel('/Users/weihongtan/Desktop/google api/GOOGLE API BUSSINESS TYPE NAMES.xlsx',header=0,sheet_name = 'Only_matched')
google_api['GOOGLE API ALL BUSINESS TYPE'] = google_api['GOOGLE API ALL BUSINESS TYPE'].str.strip()
google_api['GOOGLE API ALL BUSINESS TYPE'] = google_api['GOOGLE API ALL BUSINESS TYPE'].str.lower()

In [77]:


armadale = pandas.read_excel('armadale_cleaned.xlsx',header=0)
armadale = pandas.DataFrame(armadale)
business_type = armadale['temp_business_types'].str.split(',', expand=False)


classification  = dict(zip(google_api['GOOGLE API ALL BUSINESS TYPE'], google_api['Classification']))
Category  = dict(zip(google_api['GOOGLE API ALL BUSINESS TYPE'], google_api['Category']))
Category_code  = dict(zip(google_api['GOOGLE API ALL BUSINESS TYPE'], google_api['Category code']))
Sub_category  = dict(zip(google_api['GOOGLE API ALL BUSINESS TYPE'], google_api['Sub-category']))
Sub_category_code  = dict(zip(google_api['GOOGLE API ALL BUSINESS TYPE'], google_api['Sub- category code']))
#Description_and_examples  = dict(zip(google_api['GOOGLE API ALL BUSINESS TYPE'], google_api['Description and examples'])

In [55]:
classification.keys()
#armadale['temp_business_types'][1]

dict_keys(['airport', 'amusement_park', 'aquarium', 'art_gallery', 'bakery', 'bar', 'beauty_salon', 'bicycle_store', 'book_store', 'bowling_alley', 'bus_station', 'cafe', 'campground', 'casino', 'church', 'city_hall', 'clothing_store', 'convenience_store', 'department_store', 'doctor', 'drugstore', 'electronics_store', 'embassy', 'fire_station', 'florist', 'funeral_home', 'furniture_store', 'gas_station', 'gym', 'hair_care', 'hardware_store', 'hindu_temple', 'home_goods_store', 'hospital', 'library', 'light_rail_station', 'liquor_store', 'local_government_office', 'lodging', 'meal_delivery', 'meal_takeaway', 'mosque', 'movie_rental', 'movie_theater', 'moving_company', 'museum', 'night_club', 'park', 'patisserie & cafe', 'pet_store', 'pharmacy', 'police', 'post_office', 'primary_school', 'restaurant', 'rv_park', 'school', 'secondary_school', 'shoe_store', 'spa', 'stadium', 'storage', 'store', 'subway_station', 'supermarket', 'taxi_stand', 'tourist_attraction', 'train_station', 'transit_station', 'travel_agency', 'university', 'zoo'])

In [78]:
business_type = armadale['temp_business_types'].copy()

for i in range(len(business_type)):



    matched = []
    for type in business_type[i].split(','):

        
        if type in classification.keys():
            matched.append(type)
            

            
    business_type[i] = matched
 #   armadale['temp_business_types'][i] =armadale['temp_business_types'][i][0]      
#business_type = business_type.str.strip()
#business_type = business_type.str.lower()
#armadale['temp_business_types']
#business_type = armadale['temp_business_types']
business_type

0        [primary_school]
1      [secondary_school]
2                [school]
3                [school]
4        [primary_school]
              ...
484                    []
485          [restaurant]
486                    []
487                    []
488             [storage]
Name: temp_business_types, Length: 489, dtype: object

In [45]:
##noot
for i in range(len(armadale)):
    try:
        armadale['classification_name'][i]= classification[business_type[i]]
    except:
        armadale['classification_name'][i]= ''

    try:
        armadale['category_1'][i]= Category[business_type[i]]
    except:
        armadale['category_1'][i]= ''
    
    try:
        armadale['sub_category_1'][i]= Category_code[business_type[i]]
    except:
        armadale['sub_category_1'][i]= ''
    try:
        armadale['category_2'][i]= Sub_category[business_type[i]]
    except:
        armadale['sub_category_2'][i]= ''
    try:
        armadale['category_3'][i]= Sub_category_code[business_type[i]]
    except:
        armadale['category_3'][i]= ''

/var/folders/1_/fcmjcggj0f78hwz7ngj0rxmc0000gn/T/ipykernel_7375/3974367919.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  armadale['classification_name'][i]= ''
/var/folders/1_/fcmjcggj0f78hwz7ngj0rxmc0000gn/T/ipykernel_7375/3974367919.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  armadale['category_1'][i]= ''
/var/folders/1_/fcmjcggj0f78hwz7ngj0rxmc0000gn/T/ipykernel_7375/3974367919.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  armadale['sub_category_1'][i]= ''
/var/folders/1_/fcmjcggj0f78hwz7ngj0rxmc0000gn/T/ipykernel_7375/3974367919.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  armadale['sub_category_2'][i]= ''
/var/folders/1_/fcmjcggj0f78hwz7ngj0rxmc0000gn/T/ipykernel_7375/3974367919.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  armadale['category_3'][i]= ''

In [79]:
armadale

,local_government_area,business_id,places_id,collection_year,business_name,temp_business_types,classification_name,category_1,sub_category_1,category_2,...,original_lga_provided_address,formatted_address,contact_1,contact_2,email,website,"menu_(yes,_provided_on_website/no)",children's_menu_provided_(yes/no),opening_hours,notes
0,"Armadale, City of",NaN,ChIJoWnLRmuTMioRNsPZuUhB6ho,2022,Armadale Primary School Canteen,"primary_school, school, point_of_interest, est...",NaN,NaN,NaN,NaN,...,1 Carradine Road BEDFORDALE WA 6112,"1 Carradine Rd, Mount Nasura WA 6112, Australia",(08) 9391 4500,NaN,NaN,http://armadaleps.wa.edu.au,NaN,NaN,"[""Monday: 8:30 AM \u2013 2:45 PM"",""Tuesday: 8:...",NaN
1,"Armadale, City of",NaN,ChIJXw2JQxaTMioRTcu9c23ef70,2022,Armadale Senior High School Canteen,"secondary_school, school, point_of_interest, e...",NaN,NaN,NaN,NaN,...,169 South Western Highway ARMADALE WA 6112,"169 S Western Hwy, Armadale WA 6112, Australia",(08) 9497 6400,NaN,NaN,http://www.ashs.wa.edu.au/,NaN,NaN,"[""Monday: 8:00 AM \u2013 4:00 PM"",""Tuesday: 8:...",NaN
2,"Armadale, City of",NaN,ChIJeZMNGAOTMioRddFiyCjwpZE,2022,Australian Christian College (formerly Brookda...,"school, primary_school, university, point_of_i...",NaN,NaN,NaN,NaN,...,10 Ninth Road HILBERT WA 6112,"10 Ninth Rd, Brookdale WA 6112, Australia",(08) 9391 1500,NaN,NaN,https://www.acc.edu.au/darlingdowns/,NaN,NaN,"[""Monday: 8:00 AM \u2013 4:00 PM"",""Tuesday: 8:...",NaN
3,"Armadale, City of",NaN,ChIJN9znsoGTMioRdmDxoC8den0,2022,Cecil Andrews Senior High School Canteen,"school, point_of_interest, establishment",NaN,NaN,NaN,NaN,...,39 Seville Drive SEVILLE GROVE WA 6112,"39 Seville Dr, Seville Grove WA 6112, Australia",(08) 9234 3400,NaN,NaN,http://www.cecilandrewscollege.wa.edu.au/,NaN,NaN,"[""Monday: 8:30 AM \u2013 4:00 PM"",""Tuesday: 8:...",NaN
4,"Armadale, City of",NaN,ChIJCw4NLXyTMioRtk7LjOSi9co,2022,Challis Primary School P&C Canteen,"primary_school, school, point_of_interest, est...",NaN,NaN,NaN,NaN,...,40 Braemore Street ARMADALE WA 6112,"40 Braemore St, Armadale WA 6112, Australia",(08) 9391 4100,NaN,NaN,http://www.challiscommunityprimaryschool.wa.ed...,NaN,NaN,"[""Monday: Open 24 hours"",""Tuesday: Open 24 hou...",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,"Armadale, City of",NaN,ChIJfw2lIb2UMioR0Ke5wCKys08,2022,River Road Lunchbar,"food, point_of_interest, store, establishment",NaN,NaN,NaN,NaN,...,43 River Road KELMSCOTT WA 6111,"42 River Rd, Kelmscott WA 6111, Australia",-,NaN,NaN,-,NaN,NaN,"[""Monday: 8:00 AM \u2013 7:00 PM"",""Tuesday: 8:...",NaN
485,"Armadale, City of",NaN,ChIJw-dl_YSUMioR-BdsdyC7B10,2022,Champion Lunch Bar,"restaurant, food, point_of_interest, establish...",NaN,NaN,NaN,NaN,...,1/1 Brant Road KELMSCOTT WA 6111,"Unit 1/1 Brant Rd, Kelmscott WA 6111, Australia",(08) 9390 0775,NaN,NaN,-,NaN,NaN,"[""Monday: 6:00 AM \u2013 2:30 PM"",""Tuesday: 6:...",NaN
486,"Armadale, City of",NaN,ChIJkYVD7XaTMioRuvJHcqSXXDY,2022,United in Diversity WA Inc.,premise,NaN,NaN,NaN,NaN,...,22A Terrigal Way ARMADALE WA 6112,"22A Terrigal Way, Armadale WA 6112, Australia",-,NaN,NaN,-,NaN,NaN,"""-""",NaN
487,"Armadale, City of",NaN,ChIJi-37-4DsMioRnka17iQ4S24,2022,Leah Anastasia Designs,premise,NaN,NaN,NaN,NaN,...,28A Hawkstone Road ROLEYSTONE WA 6111,"28 Hawkstone Rd, Roleystone WA 6111, Australia",-,NaN,NaN,-,NaN,NaN,"""-""",NaN
488,"Armadale, City of",NaN,ChIJl9GcSAmUMioRSxEz_DxwYIo,2022,David Campbell Transport,"storage, point_of_interest, establishment",NaN,NaN,NaN,NaN,...,5 McCook Street FORRESTDALE WA 6112,"5/7 McCook St, Forrestdale WA 6112, Australia",0429 366 056,NaN,NaN,https://www.campbelltransport.net.au/?utm_sour...,NaN,NaN,"[""Monday: Open 24 hours"",""Tuesday: Open 24 hou...",NaN

In [80]:
business_type

1     [secondary_school]
2               [school]
3               [school]
4       [primary_school]
5       [primary_school]
6               [school]
7       [primary_school]
8       [primary_school]
9       [primary_school]
10                    []
11      [primary_school]
12              [school]
13    [secondary_school]
14      [primary_school]
15      [primary_school]
16      [primary_school]
17              [school]
18              [school]
19                    []
Name: temp_business_types, dtype: object

In [82]:
for i in range(len(business_type)):
    for k in range(len(business_type[i])) :
        try:
            armadale['classification_name'][i]= classification[business_type[i][k]]
        except:
            armadale['classification_name'][i]= ''

        try:
            armadale['category_1'][i]= Category[business_type[i][k]]
        except:
            armadale['category_1'][i]= ''
    
        try:
            armadale['sub_category_1'][i]= Category_code[business_type[i][k]]
        except:
            armadale['sub_category_1'][i]= ''
        try:
         armadale['category_2'][i]= Sub_category[business_type[i][k]]
        except:
            armadale['sub_category_2'][i]= ''
        try:
            armadale['category_3'][i]= Sub_category_code[business_type[i][k]]
        except:
            armadale['category_3'][i]= ''

/var/folders/1_/fcmjcggj0f78hwz7ngj0rxmc0000gn/T/ipykernel_7375/1050114351.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  armadale['classification_name'][i]= classification[business_type[i][k]]
/var/folders/1_/fcmjcggj0f78hwz7ngj0rxmc0000gn/T/ipykernel_7375/1050114351.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  armadale['category_1'][i]= Category[business_type[i][k]]
/var/folders/1_/fcmjcggj0f78hwz7ngj0rxmc0000gn/T/ipykernel_7375/1050114351.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  armadale['sub_category_1'][i]= Category_code[business_type[i][k]]
/var/folders/1_/fcmjcggj0f78hwz7ngj0rxmc0000gn/T/ipykernel_7375/1050114351.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  armadale['category_2'][i]= Sub_category[business_type[i][k]]
/var/folders/1_/fcmjcggj0f78hwz7ngj0rxmc0000gn/T/ipykernel_7375/1050114351.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  armadale['category_3'][i]= Sub_category_code[business_type[i][k]]

RATIO of MATCHED BUSSINESS

In [90]:

from cmath import nan


matched_num = len(armadale[armadale['classification_name'].isna()])
total = len(armadale['classification_name'])
ratio = round(matched_num/total *100,3)
ratio = 100- ratio
print(str(ratio)  + '%')

61.554%

In [84]:
armadale

,local_government_area,business_id,places_id,collection_year,business_name,temp_business_types,classification_name,category_1,sub_category_1,category_2,...,original_lga_provided_address,formatted_address,contact_1,contact_2,email,website,"menu_(yes,_provided_on_website/no)",children's_menu_provided_(yes/no),opening_hours,notes
0,"Armadale, City of",NaN,ChIJoWnLRmuTMioRNsPZuUhB6ho,2022,Armadale Primary School Canteen,"primary_school, school, point_of_interest, est...",INSTITUTIONAL FOOD,Education,E6.00,Primary school,...,1 Carradine Road BEDFORDALE WA 6112,"1 Carradine Rd, Mount Nasura WA 6112, Australia",(08) 9391 4500,NaN,NaN,http://armadaleps.wa.edu.au,NaN,NaN,"[""Monday: 8:30 AM \u2013 2:45 PM"",""Tuesday: 8:...",NaN
1,"Armadale, City of",NaN,ChIJXw2JQxaTMioRTcu9c23ef70,2022,Armadale Senior High School Canteen,"secondary_school, school, point_of_interest, e...",INSTITUTIONAL FOOD,Education,E6.00,High school,...,169 South Western Highway ARMADALE WA 6112,"169 S Western Hwy, Armadale WA 6112, Australia",(08) 9497 6400,NaN,NaN,http://www.ashs.wa.edu.au/,NaN,NaN,"[""Monday: 8:00 AM \u2013 4:00 PM"",""Tuesday: 8:...",NaN
2,"Armadale, City of",NaN,ChIJeZMNGAOTMioRddFiyCjwpZE,2022,Australian Christian College (formerly Brookda...,"school, primary_school, university, point_of_i...",INSTITUTIONAL FOOD,Education,NaN,NaN,...,10 Ninth Road HILBERT WA 6112,"10 Ninth Rd, Brookdale WA 6112, Australia",(08) 9391 1500,NaN,NaN,https://www.acc.edu.au/darlingdowns/,NaN,NaN,"[""Monday: 8:00 AM \u2013 4:00 PM"",""Tuesday: 8:...",NaN
3,"Armadale, City of",NaN,ChIJN9znsoGTMioRdmDxoC8den0,2022,Cecil Andrews Senior High School Canteen,"school, point_of_interest, establishment",INSTITUTIONAL FOOD,Education,NaN,NaN,...,39 Seville Drive SEVILLE GROVE WA 6112,"39 Seville Dr, Seville Grove WA 6112, Australia",(08) 9234 3400,NaN,NaN,http://www.cecilandrewscollege.wa.edu.au/,NaN,NaN,"[""Monday: 8:30 AM \u2013 4:00 PM"",""Tuesday: 8:...",NaN
4,"Armadale, City of",NaN,ChIJCw4NLXyTMioRtk7LjOSi9co,2022,Challis Primary School P&C Canteen,"primary_school, school, point_of_interest, est...",INSTITUTIONAL FOOD,Education,E6.00,Primary school,...,40 Braemore Street ARMADALE WA 6112,"40 Braemore St, Armadale WA 6112, Australia",(08) 9391 4100,NaN,NaN,http://www.challiscommunityprimaryschool.wa.ed...,NaN,NaN,"[""Monday: Open 24 hours"",""Tuesday: Open 24 hou...",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,"Armadale, City of",NaN,ChIJfw2lIb2UMioR0Ke5wCKys08,2022,River Road Lunchbar,"food, point_of_interest, store, establishment",NaN,NaN,NaN,NaN,...,43 River Road KELMSCOTT WA 6111,"42 River Rd, Kelmscott WA 6111, Australia",-,NaN,NaN,-,NaN,NaN,"[""Monday: 8:00 AM \u2013 7:00 PM"",""Tuesday: 8:...",NaN
485,"Armadale, City of",NaN,ChIJw-dl_YSUMioR-BdsdyC7B10,2022,Champion Lunch Bar,"restaurant, food, point_of_interest, establish...",FOOD SERVICE,Restaurant,NaN,NaN,...,1/1 Brant Road KELMSCOTT WA 6111,"Unit 1/1 Brant Rd, Kelmscott WA 6111, Australia",(08) 9390 0775,NaN,NaN,-,NaN,NaN,"[""Monday: 6:00 AM \u2013 2:30 PM"",""Tuesday: 6:...",NaN
486,"Armadale, City of",NaN,ChIJkYVD7XaTMioRuvJHcqSXXDY,2022,United in Diversity WA Inc.,premise,NaN,NaN,NaN,NaN,...,22A Terrigal Way ARMADALE WA 6112,"22A Terrigal Way, Armadale WA 6112, Australia",-,NaN,NaN,-,NaN,NaN,"""-""",NaN
487,"Armadale, City of",NaN,ChIJi-37-4DsMioRnka17iQ4S24,2022,Leah Anastasia Designs,premise,NaN,NaN,NaN,NaN,...,28A Hawkstone Road ROLEYSTONE WA 6111,"28 Hawkstone Rd, Roleystone WA 6111, Australia",-,NaN,NaN,-,NaN,NaN,"""-""",NaN
488,"Armadale, City of",NaN,ChIJl9GcSAmUMioRSxEz_DxwYIo,2022,David Campbell Transport,"storage, point_of_interest, establishment",FOOD PRODUCTION AND PREPARATION,Producer/packer/ distributor,D5.00,NaN,...,5 McCook Street FORRESTDALE WA 6112,"5/7 McCook St, Forrestdale WA 6112, Australia",0429 366 056,NaN,NaN,https://www.campbelltransport.net.au/?utm_sour...,NaN,NaN,"[""Monday: Open 24 hours"",""Tuesday: Open 24 hou...",NaN

In [9]:
armadale.to_excel(r'Matched_Armadale.xlsx', index = False)

'apple123'